
		<ion-header-bar class="bar-light shoppingcart">
			<div class="buttons">
				<button class="button button-light icon ion-chevron-left button-clear button-large button-dark"></button>
			</div>
			<h3 class="title">购物车</h3>
			<div class="buttons">
				<button class="button button-clear">编辑</button>
			</div>

		</ion-header-bar>
		<ion-content class="shoppingcart">
			<div class="contents" ng-if="isNotHas">
				<img src="../../icon/st2_product_icon@2x.png" />
				<span> 购物车竟然是空的</span>
				<p>再忙，也要记得买点什么犒劳自己~</p>
			</div>
			<ul class="list" ng-repeat="item in data" >
				<li class="item item-checkbox item-thumbnail-lef">
		   <label class="checkbox checkbox-assertive" >
             <input type="checkbox" ng-checked="ischecked" ng-model="checks"  ng-click="checked($event,s.id)">
           </label>
           <img ng-src="{{item.imgUrl}}"/>
					<div class="font">
						<div class="ig">
							<h2>{{item.pname}}</h2>
							<img ng-src="{{item.img}}" />
						</div>
						<p>{{item.content}}</p>
						<div class="iv">
							<p>￥{{item.price}}</p>
							<span>x{{item.count}}</span>
						</div>
					</div>
				</li>
			</ul>
			<div class="row item fo">
				<div class="col col-20">
					<label class="checkbox checkbox-assertive" >
             <input type="checkbox" ng-change="allcheck"  ng-model="ischecked">
           
           </label>
					<span class="fonts">全选</span>
				</div>
				<div class="col col-60 col-offset-20 ">
					<span class="assertive">合计：￥{{item.price * item.count}}</span>
					<div class="button button-assertive btn">结算（1）</div>
				</div>
			</div>

		</ion-content>
		