.my .header{
	background-image:url(../../img/MyQiangXu_bg_img@2x.png);
	
}
.my .tops{
	
    margin-top: 33px;
}
.my .ml{

	display: flex;
	align-items: center;
	justify-content:space-between;
}
.my .middel img{
	margin: auto;
	max-width: 30px;
	min-width: 25px;
}
.my .middel{
	text-align: center;
	}
.my	.middel p{
		font-size: 12px;
	}
.my	.icons>img{
		max-width: 20px;
		min-width: 15px;
		float: left;
		margin-right: 10px;
	}
.my	.icons:last-child{
		margin-bottom: 40px;
	}
