<!DOCTYPE html>
<html ng-app="app">

	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" type="text/css" href="../../css/ionic.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="shoppingcart.css" />

	<body ng-controller="appController">
		<ion-header-bar class="bar-light header">
			<div class="buttons"></div>
			<h1 class="title title-center">购物车 </h1>
			<div class="buttons"></div>
		</ion-header-bar>
		<ion-content class="shoppingcart">
			<div class="contents">
				<img src="../../icon/st2_product_icon@2x.png" />
				<span> 购物车竟然是空的</span>
				<p>再忙，也要记得买点什么犒劳自己~</p>
			</div>

		</ion-content>

		<ion-footer-bar>
			<div class="tabs tabs-icon-top">
				<a class="tab-item">
					<i class="icon ion-ios-home-outline dark"></i>
					<span class="dark"> 首页</span>
				</a>
				<a class="tab-item">
					<i class="icon ion-ios-printer-outline dark"></i>
					<span class="dark">商城</span>
				</a>
				<a class="tab-item">
					<i class="icon icon ion-ios-cart-outline assertive"></i>
					<span  class="assertive">购物车</span>
				</a>
				<a class="tab-item">
					<i class="icon ion-ios-person-outline dark"></i>
					<span class="dark">我的强旭</span>
				</a>
			</div>
		</ion-footer-bar>
		<script src="../../js/ionic.bundle.min.js"></script>
		<script src="shoppingcartController.js"></script>
	</body>

</html>