<div ui-view></div>

		<div class="tabs tabs-icon-top">
	<a class="tab-item">
		<i class="icon ion-ios-home-outline assertive"></i>
		<span class="assertive" ui-sref="index()">首页</span>
	</a>
	<a class="tab-item">
		<i class="icon ion-ios-printer-outline dark"></i>
		<span class="dark" ui-sref="shoppingMall()">商城  </span>
	</a>
	<a class="tab-item">
		<i class="icon icon ion-ios-cart-outline dark"></i>
		<span class="dark" ng-click="shoppingcart()">购物车</span>
	</a>
	<a class="tab-item">
		<i class="icon ion-ios-person-outline dark"></i>
		<span class="dark" ui-sref="my()">我的强旭</span>
	</a>
</div>
		