    <div ui-view></div>

		<div class="tabs tabs-icon-top">
	<a class="tab-item" ui-sref="main.index">
		<i class="icon ion-ios-home-outline assertive"></i>
		<span class="assertive" style="text-align: center;">首页</span>
	</a>
	<a class="tab-item" ui-sref="main.shoppingMall">
		<i class="icon ion-ios-printer-outline dark"></i>
		<span class="dark" style="text-align: center;">商城  </span>
	</a>
	<a class="tab-item" ui-sref="main.shoppingcart">
		<i class="icon icon ion-ios-cart-outline dark"></i>
		<span class="dark"  style="text-align: center;">购物车</span>
	</a> 
	<a class="tab-item"  ui-sref="main.my">
		<i class="icon ion-ios-person-outline dark"></i>
		<span class="dark" style="text-align: center;">我的强旭</span>
	</a>
       </div>
		