
<ion-header-bar class="bar-light yj">
	<div class="buttons">
		<button class="button button-light icon ion-chevron-left button-clear button-large button-dark" ng-click="goBack()"></button>
	</div>
	<h1 class="title">医疗护具 </h1>
	<div class="buttons">
		<button class="button button-light icon icon ion-ios-cart-outline button-clear button-large button-dark">
        </button>
	</div>
</ion-header-bar>

<ion-side-menus>
	<ion-side-menu side="left" width="100" is-enabled="true">
		<ion-list>
			<div class="li">
				<ion-item>为您推荐</ion-item>
				<ion-item>护脚踝</ion-item>
				<ion-item>护颈</ion-item>
				<ion-item>护手腕</ion-item>
				<ion-item>护腰带</ion-item>
				<ion-item>护膝</ion-item>
				<ion-item>护肘</ion-item>
				<ion-item>腰骨带</ion-item>
				<ion-item>护脚</ion-item>
				<ion-item>夹板</ion-item>
				<ion-item>POH系列</ion-item>
				<ion-item>FOOD系列</ion-item>
				<ion-item>PEHIPE系列</ion-item>
				<ion-item>PPXS系列</ion-item>
				<ion-item>PVC系列</ion-item>
				<ion-item>YFCP系列</ion-item>
				<ion-item>PETGAG系列</ion-item>
			</div>
		</ion-list>
	</ion-side-menu>

	<ion-side-menu-content drag-content="true" edge-drag-threshold="false">
		<ion-nav-bar>
			<ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-content class="yj">
		
			<h4 class="yj-top">医疗护具</h4>
			<div class="row  frist">
				<div class="col col-45">
					<img src="../../images/Ad_PP_img@2x.png" />
					<p>可调节护颈</p>
				</div>
				<div class="col col-45">
					<img src="../../images/mp_product_img2@3x.png" />
					<p>可调节脚</p>
				</div>
			</div>
			<div class="row">
				<div class="col col-45">
					<img src="../../images/mp_product_img3@2x.png" />
					<p>DNS夜用夹板</p>
				</div>
				<div class="col col-45">
					<img src="../../images/mp_product_img4@2x.png" />
					<p>加压护腰带</p>
				</div>
			</div>
			<div class="row">
				<div class="col col-45">
					<img src="../../images/mp_product_img5@2x.png" />
					<p>护膝</p>
				</div>
				<div class="col col-45">
					<img src="../../images/mp_product_img6@2x.png" />
					<p>护手腕</p>
				</div>
			</div>
			<div class="row">
			<div class="col col-45">
					<img src="../../images/Ad_PP_img@2x.png" />
					<p>可调节护颈</p>
				</div>
				<div class="col col-45">
					<img src="../../images/mp_product_img2@3x.png" />
					<p>可调节脚</p>
				</div>
			</div>
			<div class="row">
				<div class="col col-45">
					<img src="../../images/mp_product_img3@2x.png" />
					<p>DNS夜用夹板</p>
				</div>
				<div class="col col-45">
					<img src="../../images/mp_product_img4@2x.png" />
					<p>加压护腰带</p>
				</div>
			</div>
			<div class="row">
				<div class="col col-45">
					<img src="../../images/mp_product_img5@2x.png" />
					<p>护膝</p>
				</div>
				<div class="col col-45">
					<img src="../../images/mp_product_img6@2x.png" />
					<p>护手腕</p>
				</div>
			</div>
		</ion-content>

	</ion-side-menu-content>

</ion-side-menus>