    <ion-header-bar>
      <h2 class="title top  text-center">
      	强旭商城
      </h2>
    </ion-header-bar>
		<ion-content class="padding shoppingMall" >
		 <div class="row shopp_lint" >
		 	<div class="col col-25" ng-click="goPage('new')">
		 		<img src="../../icon/Home_classification_icon1@2x.png" />
		 	</div>
		 	<div class="col col-25" ng-click="goPage('yj')">
		 		<img src="../../icon/Home_classification_icon2@2x.png" />
		 	</div>
		 	<div class="col col-25" ng-click="goPage('xs')">
		 		<img src="../../icon/Home_classification_icon3@2x.png" />
		 	</div>
		 	<div class="col col-25" ng-click="goPage('gd')">
		 		<img src="../../icon/Home_classification_icon4@2x.png" />
		 	</div>
		 </div>
		<span class="line"></span>
		<div class="block">
			<span class="line2"></span>
			<span class="word">爆款精选</span>
			<span class="line3"></span>
		</div>
		<div class="row row-wrap"> 
  <div class="col col-33"><img src="../../images/Home_modules1_img1@3x.png">
  <div class="word1">
  	<p class="p1">护脚踝（气垫款）</p>
  	<p class="p2">了解详情&gt;&gt;</p>
  </div>
  </div> 
  <div class="col col-70">
  	<div class="row row-wrap">
  <div class="col col-50"><img src="../../images/Home_modules1_img2@2x.png">
  <div class="word1">
  	<p class="p1">护颈</p>
  	<p class="p2">了解详情&gt;&gt;</p>
  </div>
  </div>
  <div class="col col-50"><img src="../../images/Home_modules1_img3@2x.png">
  <div class="word1">
  	<p class="p3">护手腕（加长臂）</p>
  	<p class="p2">了解详情&gt;&gt;</p>
  </div>
  </div>
  <div class="col col-50"><img src="../../images/Home_modules1_img4@2x.png">
  <div class="word1">
  	<p class="p1">护腰带</p>
  	<p class="p2">了解详情&gt;&gt;</p>
  </div>
  </div>
  <div class="col col-50"><img src="../../images/Home_modules1_img5@2x.png">
  <div class="word1">
  	<p class="p1">护膝</p>
  	<p class="p2">了解详情&gt;&gt;</p>
  </div>
  </div>
  </div>
  </div>
</div>
	<span class="line"></span>
	<div class="block">

			<span class="line2"></span>
			<span class="word">商品推荐</span>
			<span class="line3"></span>
		</div>	
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col-60">
						<img src="../../images/Home_modules2_img1@2x.png" />
					</div>
					<div class="col-40">
						<div class="right">
					<span>PEPE001</span>
					<P><img src="../../icon/Home_modules2_icon@2x.png" /></P>
				</div>
					</div>
				</div>
				
				
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col-60">
						<img src="../../images/Home_modules2_img2@2x.png"/>
					</div>
					<div class="col-40">
						<div class="right">
					<span>PEPE001</span>
					<P><img src="../../icon/Home_modules2_icon@2x.png" /></P>
				</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col-60">
						<img src="../../images/Home_modules2_img3@2x.png" />
					</div>
					<div class="col-40">
						<div class="right">
					<span>PEPE001</span>
					<P><img src="../../icon/Home_modules2_icon@2x.png" /></P>
				</div>
					</div>
				</div>
				
				
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col-60">
						<img src="../../images/Home_modules2_img4@2x.png"/>
					</div>
					<div class="col-40">
						<div class="right">
					<span>PEPE001</span>
					<P><img src="../../icon/Home_modules2_icon@2x.png" /></P>
				</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50">
				<div class="row">
					<div class="col-60">
						<img src="../../images/Home_modules2_img5@2x.png" />
					</div>
					<div class="col-40">
						<div class="right">
					<span>PEPE001</span>
					<P><img src="../../icon/Home_modules2_icon@2x.png" /></P>
				</div>
					</div>
				</div>
				
				
			</div>
			<div class="col col-50">
				<div class="row">
					<div class="col-60">
						<img src="../../images/Home_modules2_img6@2x.png" />
					</div>
					<div class="col-40">
						<div class="right">
					<span>PEPE001</span>
					<P><img src="../../icon/Home_modules2_icon@2x.png" /></P>
				</div>
					</div>
				</div>
			</div>
		</div>
		
		<span class="line"></span>
	<div class="block">

			<span class="line2"></span>
			<span class="word">最新上架</span>
			<span class="line3"></span>
		</div>	
		
		<div class="row">
			<div class="col col-30 frame">
				<img src="../../images/Home_modules3_img2@2x.png" />
				<p class="p3">PVC004</p><span class="p4">了解详情&gt;&gt;</span>
			</div>
			<div class="col col-30 frame">
				<img src="../../images/Home_modules3_img3@2x.png" />
				<p class="p3">PVC004</p><span class="p4">了解详情&gt;&gt;</span>
			</div>
			<div class="col col-30 frame">
				<img src="../../images/Home_modules3_img4@2x.png" />
				<p class="p3">PVC004</p><span class="p4">了解详情&gt;&gt;</span>
			</div>
		</div>
			<div class="row ">
			<div class="col col-30 frame">
				<img src="../../images/Home_modules3_img5@2x.png" />
				<p class="p3">PVC004</p><span class="p4">了解详情&gt;&gt;</span>
			</div>
			<div class="col col-30 frame">
				<img src="../../images/Home_modules3_img6@2x.png" />
				<p class="p3">PVC004</p><span class="p4">了解详情&gt;&gt;</span>
			</div>
			<div class="col col-30 frame">
				<img src="../../images/Home_modules3_img7@2x.png" />
				<p class="p3">PVC004</p><span class="p4">了解详情&gt;&gt;</span>
			</div>
		</div>
			<div class="row last">
			<div class="col col-30 frame">
				<img src="../../images/Home_modules3_img8@2x.png" />
				<p class="p3">PVC004</p><span class="p4">了解详情&gt;&gt;</span>
			</div>
			<div class="col col-30 frame">
				<img src="../../images/Home_modules3_img9@2x.png" />
				<p class="p3">PVC004</p><span class="p4">了解详情&gt;&gt;</span>
			</div>
			<div class="col col-30 frame">
				<img src="../../images/Home_modules3_img1@2x.png" />
				<p class="p3">PVC004</p><span class="p4">了解详情&gt;&gt;</span>
			</div>
		</div>
		</ion-content>
	