
		<ion-header-bar class="bar-light header login">
			<div class="buttons">
				<button class="button button-light icon ion-chevron-left button-clear button-large button-dark"></button>
			</div>
			<h1 class="title">
      	<div class="frame">
      		<div class="btn">登录</div>
      		<div class="btn1" >注册</div>
      	</div>
      </h1>
			<div class="buttons">
				<button class="button button-dark button-clear">帮助</button>
				</button>
			</div>
		</ion-header-bar>
		<ion-content class="login">
			<ion-list class="list">
				<label class="item item-input ">
    <span class="input-label">账户</span>
    <input type="text" placeholder="强旭会员帐号">
    <span class="span"> 
    	<i class="icon ion-ios-close placeholder-icon" ></i>
   <i class="icon i"></i>
    </span>
  </label>
				<label class="item item-input ">
    <span class="input-label">登录密码</span>
    <input type="password" placeholder="请输入密码">
    <span class="span" > 
    	<i class="icon ion-ios-close placeholder-icon" ></i>
     <i class="icon ion-eye  placeholder-icon eye"></i>
    </span>
  </label>
			</ion-list>
			<a class="x">忘记密码？</a>
			<div class="item item1">
				<button class="button button-assertive button-block "  ng-click="login()">登录</button>
			</div>
			<div class="boclk">
				<span class="font">通过第三方账户登录</span>
				<div class="xian"></div>
				
			</div>

			<div class="img">
				<img src="../../icon/Enter_zfb_icon@2x.png">
				<img src="../../icon/Enter_wx_icon@2x.png" />

				<img src="../../icon/Enter_xl_icon@2x.png" />

			</div>
		</ion-content>