.login .btn{
	background-color: #E42112;
	color: #FFFFFF;
	width: 50px;
	height:30px;
	float: left;
	border-radius: 5px 0px 0px 5px;
	line-height: 30px;
	
}
.login .frame{
	border: 1px solid #E42112;
	width: 102px;
	border-radius: 5px;
	height: 32px;
	margin: 4px auto 3px auto;
	text-align: center;
}
.login .btn1{
	width: 50px;
	height: 30px;
	color: #000000;
	float: right;
	line-height: 30px;
}
 .header{
	margin-top: 30px;
}
.login .list{
    margin-top:30px;
	border-top: none;
}
.login  .x{
	text-decoration: underline;
	color: #AAAAAA;
	display: block;
	text-align: right;
	margin-right: 15px;
	margin-top: 15px;
}
 .login .item1{
	
	border: none;
}
 .login .xian{
 	margin: 0 auto;
 	border-bottom: 2px #C0C0C0 solid;	
 	width: 90%;
 	z-index: -1;
 }
 .login .font{

    z-index: 99;
 	position: absolute;
 	color: #C0C0C0;
 	background-color: #FFFFFF;
 }
 .login .boclk{
 	width: 70%;
 	margin: 0 auto;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	padding: 35px 0px 0px 0px;
 }
 .login .img{
 	width: 90$;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }
 .login .img>img{
 	max-width: 50px;
 	min-width: 40px;
 	margin-top: 25px;
 	margin-bottom: 200px;
 }
 .login .img>img:nth-child(2){
 	margin-left: 65px;
 	margin-right: 65px;
 }
  .login .i{
 	margin-right: 22px; margin-left: 5px;
 }
 .login .span{
 	margin-right: 20px;
 }
 .login .eye{
 	margin-right: 15px; margin-left: 5px;
 	
 }
